body{
   font-family: 'Montserrat', sans-serif;
}
.main{
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: row-reverse;
   background-color: #E5E5E5;
}
.main__block{
   box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   padding: 60px 70px;
}

/* ---------------------------------------------------------------------------------------- */

.title{
   font-size: 22px;
   line-height: 27px;
   font-weight: 700;
   margin-bottom: 10px;
}

/* ---------------------------------------------------------------------------------------- */

.side-bar{
   background-color: #1E2939;
   padding-top: 40px;
}

.side-bar__photo{
   margin-bottom: 50px;
   width: 370px;
}

.side-bar__title{
   color: #fff;
   font-size: 22px;
   line-height: 27px;
   font-weight: 700;
}
/* ---------------------------------------------------------------------------------------- */
.tech-skills__list, .soft-skills__list{
   padding: 0;
   margin-left: 18px;
}
.tech-skills__link, .soft-skills__link{
   color: #FB6D3A;
   line-height: 24px;
}
.tech-skills__link-text, .soft-skills__link-text{
   color: #FFFFFF;
}
/* ---------------------------------------------------------------------------------------- */

.contacts__item{
   color: #fff;
}
.contacts__link{
   color: #fff;
   opacity: 0.5;
   margin-left: 10px;
}

/* ---------------------------------------------------------------------------------------- */

.contacts, .tech-skills, .soft-skills{
   margin-left: 40px;
   margin-bottom: 40px;
}

/* ---------------------------------------------------------------------------------------- */
.about{
   margin-bottom: 40px;
}
.about__position{
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   margin-bottom: 20px;

   span {
      font-weight: 400;
   }
}
.about__name{
   font-weight: 700;
   font-size: 45px;
   line-height: 55px;
   margin-bottom: 25px;
}
.about__info{
   max-width: 550px;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
}

/* ---------------------------------------------------------------------------------------- */
.projects{
   margin-bottom: 50px;
}
.projects__list{
   padding-left: 20px;
}
.projects__item{
   color:#000;
   font-weight: 700;
   line-height: 24px;
}
.projects__link{
   text-decoration: none;
   font-weight: 400;
   color: #595959;
   margin-left: 10px;
}
.projects__text{
   font-weight: 400;
   color: #595959;
}
.projects__bold{
   font-weight: 700;
   color:#000;
}
/* ---------------------------------------------------------------------------------------- */
.experience{
   margin-bottom: 45px;
}
.experience__company{
   margin-bottom: 20px;
}
.experience__position{
   font-size: 16px;
   line-height: 20px;
   font-weight: 700;
   margin-bottom: 10px;
}
.experience__company-name{
   color: #FB6D3A;
}
.experience__date{
   font-size: 12px;
   line-height: 15px;
   color: #A8A8A8;
}
.experience__list{
   color: #595959;
   font-size: 14px;
   line-height: 24px;
   padding: 0;
}
.experience__link{
   margin-left: 20px;
}

/* ---------------------------------------------------------------------------------------- */

.education__university{
   color: #FB6D3A;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 10px;
}
.education__faculty{
   color:#000;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
}
.education__period{
   font-size: 12px;
   line-height: 15px;
   color: #A8A8A8;
}

/* ---------------------------------------------------------------------------------------- */


